---
import RoverImage from "../../../images/production/rover.jpg";
import SliderImage from "../../../images/production/IMG_4520.jpg";
import ProductionSlide from "./ProductionSlide.astro";

const { blok } = Astro.props;

const { ProductionSlides } = blok;
---

<section class="min-h-screen">
    <div class="swiper slider">
        <div class="swiper-wrapper">
            {ProductionSlides.map((slide) => <ProductionSlide {slide} />)}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<style>
    :root {
        --swiper-pagination-color: #9c7e5a !important;
        --swiper-pagination-bullet-inactive-color: #fff !important;
        --swiper-pagination-bullet-height: 15px;
        --swiper-pagination-bullet-width: 15px;
        --swiper-pagination-bullet-inactive-opacity: 1 !important;
    }
</style>
