@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #1D1D1D;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
}

@media (max-width: 640px) {
  html {
    font-size: 7px;
  }
}


/* Мобильная версия (по умолчанию) */
p, span, a, li, strong, em, u {
  font-size: 2rem ; /* Обычный текст */
}

/* Заголовок h1 */
h1 {
  font-size: 6rem ; /* Заголовок h1 для мобильных */
}

/* Заголовок h2 */
h2 {
  font-size: 5rem ; /* Заголовок h2 для мобильных */
}

/* Заголовок h3 */
h3 {
  font-size: 4rem ; /* Заголовок h3 для мобильных */
}

/* Заголовок h4 */
h4 {
  font-size: 3.5rem ; /* Заголовок h4 для мобильных */
}

/* Заголовок h5 */
h5 {
  font-size: 3rem ; /* Заголовок h5 для мобильных */
}

/* Заголовок h6 */
h6 {
  font-size: 2.5rem ; /* Заголовок h6 для мобильных */
}

/* Для десктопной версии (min-width: 768px) */
@media (min-width: 768px) {
  p, span, a, li, strong, em, u {
    font-size: 2.5rem ; /* Обычный текст для десктопов */
  }

  /* Заголовок h1 */
  h1 {
    font-size: 10rem ; /* Заголовок h1 для десктопа */
  }

  /* Заголовок h2 */
  h2 {
    font-size: 9rem ; /* Заголовок h2 для десктопа */
  }

  /* Заголовок h3 */
  h3 {
    font-size: 8rem ; /* Заголовок h3 для десктопа */
  }

  /* Заголовок h4 */
  h4 {
    font-size: 7rem ; /* Заголовок h4 для десктопа */
  }

  /* Заголовок h5 */
  h5 {
    font-size: 6rem ; /* Заголовок h5 для десктопа */
  }

  /* Заголовок h6 */
  h6 {
    font-size: 5rem ; /* Заголовок h6 для десктопа */
  }
}

/* Для очень больших экранов (min-width: 1200px) */
@media (min-width: 1200px) {
  p, span, a, li, strong, em, u {
    font-size: 3rem ; /* Обычный текст для больших экранов */
  }

  /* Заголовок h1 */
  h1 {
    font-size: 10rem ; /* Заголовок h1 для больших экранов */
  }

  /* Заголовок h2 */
  h2 {
    font-size: 9rem ; /* Заголовок h2 для больших экранов */
  }

  /* Заголовок h3 */
  h3 {
    font-size: 8rem ; /* Заголовок h3 для больших экранов */
  }

  /* Заголовок h4 */
  h4 {
    font-size: 7rem ; /* Заголовок h4 для больших экранов */
  }

  /* Заголовок h5 */
  h5 {
    font-size: 6rem ; /* Заголовок h5 для больших экранов */
  }

  /* Заголовок h6 */
  h6 {
    font-size: 5rem ; /* Заголовок h6 для больших экранов */
  }
}
