---

import { Picture } from "astro:assets";

const {image} = Astro.props

---

<div class="swiper-slide">
    <Picture
        src={image}
        formats={["avif", "webp"]}
        alt="Портфолио Русский клуб - высокоглянцевые изделия"
        class="object-cover w-full h-[80rem]"
    />
</div>