---
import Header from "../../partials/Header.astro";

import { Picture } from "astro:assets";

import InformationImage from "../../images/information.png";
---

<section class="text-white bg-[#1D1D1D] py-5 lg:h-screen h-[calc(100vh/2)] relative">
    <Header theme="white" />
    <div class="relative w-5/6 mx-auto">
        <div
            class="absolute lg:top-[-100px] top-[-10rem] lg:right-[calc(50%+300px)] right-5/6 lg:rotate-[-90deg] origin-top-right uppercase z-20"
        >
            <h2 class="lg:text-[10rem] text-[7rem] font-[Dance]">Информация</h2>
        </div>
        <div class="absolute top-[-100px] left-1/2 translate-x-[-50%] z-10">
            <Picture
                src={InformationImage}
                quality="low"
                class="w-[350px] lg:brightness-[100%] brightness-50"
                formats={["avif", "webp"]}
                alt="Русский клуб - дверь Гетта"
            />
        </div>
        <div class="absolute top-[-1rem] lg:left-[calc(50%+(350px/2)+3rem)] right-5/6 z-20">
            Превращаем дерево в искусство. На протяжении более 20 лет мы создаем
            премиальную мебель и двери, которые рассказывают свою историю через
            каждую линию и текстуру. У нас нет стандартных решений — мы
            воплощаем ваши мечты, начиная с индивидуального дизайна и заканчивая
            безупречным монтажом. Наши работы — это не просто предметы
            интерьера, это уникальные элементы, которые делают ваш дом
            особенным.
        </div>
    </div>
</section>

<script>
    import Swiper from "swiper";
    import { Pagination, Autoplay } from "swiper/modules";
    import "swiper/css";
    import "swiper/css/pagination";
    import "swiper/css/free-mode";

    document.addEventListener("DOMContentLoaded", () => {
        const swiper = new Swiper(".slider", {
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 5000,
            },
            speed: 600,
            loop: true,
            modules: [Pagination, Autoplay],
        });
    });
</script>
