---
import Header from "../../partials/Header.astro";

import { Picture } from 'astro:assets';

import ImformationImage from '../../images/information.png'

import StandImage from '../../images/stand_3.png'

import RoverImage from '../../images/production/rover.jpg'
import SliderImage from '../../images/production/IMG_4520.jpg'

---

<section class="text-white bg-[#1D1D1D] py-5 h-screen relative">
    <Header theme="white" />
    <div class="relative w-5/6 mx-auto">
        <div class="absolute top-[-100px] right-[calc(50%+300px)] rotate-[-90deg] origin-top-right uppercase">
            <h2 class="md:text-[10rem] text-[7rem] font-[Dance]">Информация</h2>
        </div>
        <div class="absolute top-[-100px] left-1/2 translate-x-[-50%]">
            <Picture src={ImformationImage} quality="low" class="w-[350px]" formats={['avif', 'webp']} alt="Русский клуб - дверь Гетта" />
        </div>
        <div class="absolute top-[-100px] left-[calc(50%+(350px/2)+3rem)]">Превращаем дерево в искусство. На протяжении более 20 лет мы создаем премиальную мебель и двери, которые рассказывают свою историю через каждую линию и текстуру. У нас нет стандартных решений — мы воплощаем ваши мечты, начиная с индивидуального дизайна и заканчивая безупречным монтажом. Наши работы — это не просто предметы интерьера, это уникальные элементы, которые делают ваш дом особенным.</div>
    </div>
</section>

<section class="text-white bg-[#1D1D1D] min-h-screen py-10">
    <div class="w-5/6 mx-auto grid grid grid-cols-2">

        <div>
            <h2 class="md:text-[10rem] text-[7rem] font-[Dance]">Процесс</h2>

            <p class="w-1/2">Превращаем дерево в искусство. На протяжении более 20 лет мы создаем премиальную мебель и двери, которые рассказывают свою историю через каждую линию и текстуру.</p>
        </div>

        <div class="pl-[calc((350px/2)+3rem)]">

            <div class="process-item relative">

                <h3 class="text-[3rem] md:text-[4rem] lg:text-[5rem] uppercase ml-20">Концепция</h3>

            </div>

            <div class="process-item relative">

                <h3 class="text-[3rem] md:text-[4rem] lg:text-[5rem] uppercase ml-20">Дизайн</h3>

            </div>

            <div class="process-item relative">

                <h3 class="text-[3rem] md:text-[4rem] lg:text-[5rem] uppercase ml-20">Документация</h3>

            </div>

            <div class="process-item relative">

                <h3 class="text-[3rem] md:text-[4rem] lg:text-[5rem] uppercase ml-20">Производство</h3>

            </div>

            <div class="process-item relative">

                <h3 class="text-[3rem] md:text-[4rem] lg:text-[5rem] uppercase ml-20">МОНТАЖ</h3>

            </div>

        </div>

    </div>
</section>

<section class="min-h-screen py-10">

    <div class="w-5/6 mx-auto grid grid grid-cols-2 items-center" >

        <div><Picture src={StandImage} quality="low" formats={['avif', 'webp']} alt="Русский клуб - тумба селенит" /></div>

        <div class=" space-y-10">
            <div><h2 class="md:text-[10rem] text-[7rem] font-[Dance]">Нам доверяют</h2><p>Мы гордимся тем, что наши заказчики доверяют нам создание  премиальной мебели на заказ. Это доверие строится на нашем внимательном подходе к каждому проекту и стремлении понимать желания клиентов. 
            </p>
            <p class="mt-5">Мы всегда готовы предложить индивидуальные решения, учитывая уникальные пожелания каждого заказчика. Благодаря высокому качеству материалов и мастерству производства, наши изделия становятся важной частью интерьера. Такое сотрудничество позволяет нам создавать не просто мебель, а уютные пространства, отражающие стиль и характер наших клиентов.</p></div>
                <div class="mt-8">
                    <a href="#contacts" class="text-[2rem] text-white bg-[#9C7E5A] py-4 px-8">Связаться</a>
                </div>
        </div>

    </div>

</section>

<section class="h-screen py-10">

    <div class="swiper slider">

        <div class="swiper-wrapper">

            <div class="w-full max-h-screen relative swiper-slide">
            
                <Picture src={RoverImage} formats={['avif', 'webp']} class="object-cover max-h-full brightness-[70%]"  alt="Русский клуб - тумба селенит" />
        
                <div class="top-10 w-5/6 left-[calc(100%/12)] absolute">
        
                    <div class="bg-white inline-block px-5">
        
                        <h2 class="md:text-[10rem] text-[7rem] font-[Dance]">Наше производство</h2>
        
                    </div>
        
                    <div class="bg-white block p-5 mt-10 w-1/3">
        
                        <p>Повседневная практика показывает, что новая модель организационной деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
        
                        </p>
        
                    </div>
        
                </div>
            </div>

            <div class="w-full max-h-screen  relative swiper-slide">
            
                <Picture src={SliderImage} formats={['avif', 'webp']} class="object-cover object-left-top max-h-full brightness-[70%]"  alt="Русский клуб - тумба селенит" />
        
                <div class="top-10 w-5/6 left-[calc(100%/12)] absolute">
        
                    <div class="bg-white inline-block px-5">
        
                        <h2 class="md:text-[10rem] text-[7rem] font-[Dance]">Наше производство</h2>
        
                    </div>
        
                    <div class="bg-white block p-5 mt-10 w-1/3">
        
                        <p>Повседневная практика показывает, что новая модель организационной деятельности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития.
        
                        </p>
        
                    </div>
        
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
        
    </div>

</section>

<style lang="scss">

.process-item {
    margin-top: 132px;
    &:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: '';
        width: 30px;
        border-radius: 50%;
        height: 30px;
        background: white;
    }

    &:after {
        position: absolute;
        top: 30px;
        left: 12px;
        content: '';
        width: 6px;
        height: 200px;
        background: white;
    }
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        &:after {
            width: 0;
        }
    }
}

</style>

<script>
    import Swiper from "swiper";
    import {
        Pagination,
        FreeMode,
        Thumbs,
        Navigation,
        Autoplay,
        EffectFade,
    } from "swiper/modules";
    import "swiper/css";
    import "swiper/css/pagination";
    import "swiper/css/free-mode";

    document.addEventListener("DOMContentLoaded", () => {

        const swiper = new Swiper(".slider", {
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            // autoplay: true,
            speed: 600,
            loop: true,
            modules: [Pagination, Autoplay],
        });
    });
</script>
