---
import DefaultLayout from "../layouts/DefaultLayout.astro";

---

<DefaultLayout>
    <section class="text-white bg-[#1D1D1D] py-10 h-screen">

        <div class="w-5/6 mx-auto">

            <h1 class="md:text-[13rem] text-[10rem] font-[Dance]">Страница не найдена.</h1>
            <div class="md:text-[3rem] text-[1.5rem]"><a href="/" class="underline decoration-solid">На главную.</a></div>

        </div>
    
    </section>
</DefaultLayout>
