---
import DefaultLayout from "../layouts/DefaultLayout.astro";

---

<DefaultLayout>
    <section class=" bg-[#1D1D1D] py-10 h-screen">

        <div class="w-5/6 mx-auto">

            <h1 class="  font-[Dance]">Страница не найдена.</h1>
            <div class=" text-[1.5rem]"><a href="/" class="underline decoration-solid">На главную.</a></div>

        </div>
    
    </section>
</DefaultLayout>
