---

import { Picture } from 'astro:assets';

import About from '../images/about.png'

---

<section class="lg:min-h-screen h-auto pt-20" id="about">

    <div class="w-5/6 mx-auto">
    
        <div class="flex md:flex-row flex-col-reverse justify-between gap-10">

            <div class="md:w-3/5 lg:w-1/2">

                <Picture src={About} quality="low" class="w-auto h-auto" formats={['avif', 'webp']} alt="A description of my image." />
                <Picture src={About} quality="high" class="w-auto h-auto" formats={['avif', 'webp']} alt="A description of my image." />
                <div class="bg-[#9C7E5A] py-4 px-8 inline-block md:hidden my-6">
                    <a href="#" class="text-[2rem] text-white">Связаться</a>
                </div>
            </div>
    
            <div class="md:flex flex-col justify-between items-end">
    
                <div class="text-[3rem] md:text-[4rem] lg:text-[5rem] uppercase text-right">

                    <h3>Концепция</h3>
                    <h3>Дизайн</h3>
                    <h3>Производство</h3>

                </div>
                <div class="md:inline-block hidden my-6">
                    <a href="#contacts" class="text-[2rem] text-white bg-[#9C7E5A] py-4 px-8">Связаться</a>
                </div>
    
            </div>

        </div>
        
    </div>

</section>