---

import { Icon } from 'astro-icon/components'

import SocialIcons from './SocialIcons.astro'

const {theme} = Astro.props

---

<header class={`text-${theme} py-5 h-1/3 z-0`}>
    <div class="w-5/6 mx-auto">

        <div class="flex justify-between">
            <label for="navigation" class="w-1/3 lg:hidden">
                <Icon name="open" class="text-[3rem] cursor-pointer"/>
            </label>
            <input type="checkbox" class="hidden checkbox-menu" id="navigation">
            <nav class="lg:w-1/3 flex flex-col text-[5rem] lg:text-[2rem] uppercase fixed top-0 py-5 w-full h-full z-10 lg:bg-transparent lg:static bg-[#9C7E5A] lg:visible menu">
                <label for="navigation" class="hamburger lg:hidden responsive max-w-[30px]">
                    <Icon name="close" class="text-[5rem] cursor-pointer"/>
                </label>
                <a href="/" class="menu-link lg:hover:text-[#9C7E5A] hover:text-[#1D1D1D] transition ease-in-out delay-50">Главная</a>
                <a href="#about" class="menu-link lg:hover:text-[#9C7E5A] hover:text-[#1D1D1D] transition ease-in-out delay-50">Информация</a>
                <a href="#portfolio" class="menu-link lg:hover:text-[#9C7E5A] hover:text-[#1D1D1D] transition ease-in-out delay-50">Проекты</a>
                <a href="#contacts" class="menu-link lg:hover:text-[#9C7E5A] hover:text-[#1D1D1D] transition ease-in-out delay-50">Контакты</a>
            </nav>

            
        
            <div class="w-full md:w-1/3 text-center">
        
                <a href="/">
                    <h2 class="text-[3.3rem] md:text-[3.3rem] font-[Dance] leading-[2rem] md:leading-10 mt-5">Русский Клуб</h2>
                    <span class="text-[1.6rem] md:text-[2rem] uppercase">Элитная мебель</span>  </a>
        
            </div>
        
            <div class="w-1/3">
                
                <div class="flex justify-end gap-4">
                    <SocialIcons />
                </div>

            </div>
        </div>

    </div>

</header>

<script>

    document.querySelectorAll('.menu-link').forEach(el => {
        el.addEventListener('click', () => {
            document.querySelector('.checkbox-menu').checked = false
        })
    })

</script>

<style>

    .menu {
        left: -100%;
        transition: all 0.5s;
    }

    #navigation:checked ~ .menu {
        left: 0;
    }

</style>