---

import { Icon } from 'astro-icon/components'

import SocialIcons from './SocialIcons.astro'

---

<header class="text-white py-5 h-1/3 z-0">
    <div class="w-5/6 mx-auto">

        <div class="flex justify-between">
            <label for="navigation" class="w-1/3 lg:hidden">
                <Icon name="open" class="text-[3rem] cursor-pointer"/>
            </label>
            <input type="checkbox" class="hidden" id="navigation">
            <nav class="lg:w-1/3 flex flex-col text-[2rem] uppercase fixed top-0 p-5 w-full h-full lg:bg-transparent lg:static bg-[#9C7E5A] lg:visible menu">
                <label for="navigation" class="hamburger lg:hidden responsive max-w-[30px]">
                    <Icon name="close" class="text-[3rem] cursor-pointer"/>
                </label>
                <a href="#" class="lg:hover:text-[#9C7E5A] hover:text-[#1D1D1D] transition ease-in-out delay-50">Главная</a>
                <a href="#" class="lg:hover:text-[#9C7E5A] hover:text-[#1D1D1D] transition ease-in-out delay-50">Проекты</a>
                <a href="#" class="lg:hover:text-[#9C7E5A] hover:text-[#1D1D1D] transition ease-in-out delay-50">Информация</a>
                <a href="#" class="lg:hover:text-[#9C7E5A] hover:text-[#1D1D1D] transition ease-in-out delay-50">Контакты</a>
            </nav>
        
            <div class="w-full sm:w-1/3 text-center">
        
                <h2 class="text-[3rem] sm:text-[2.5rem] md:text-[3.8rem] font-[Dance] leading-[0.001rem] md:leading-10 mt-5">Русский Клуб</h2>
                <span class="text-[1.2rem] sm:text-[1.2rem] md:text-[2.2rem] uppercase">Элитная мебель</span>  
        
            </div>
        
            <div class="w-1/3">
                
                <div class="flex justify-end gap-4">
                    <SocialIcons />
                </div>

            </div>
        </div>

    </div>

</header>

<style>



    .menu {
        left: -100%;
        transition: all 0.5s;
    }

    #navigation:checked ~ .menu {
        left: 0;
    }

</style>