---

import { Icon } from 'astro-icon/components'

const { links } = Astro.props

---

<div class="flex justify-end gap-4">

<a href={links?.instagram ? links?.instagram : 'https://www.instagram.com/doorsellite/'} target="_blank"><Icon name="pinterest" class=" cursor-pointer"/></a>
<a href={links?.pinterest ? links?.pinterest : 'https://www.instagram.com/doorsellite/'} target="_blank"><Icon name="instagram" class=" cursor-pointer"/></a>

</div>
