---

import { Icon } from 'astro-icon/components'

const { links } = Astro.props

---

<div class="flex justify-end gap-4">

<a href={links?.instagram}><Icon name="pinterest" class="text-[3rem] cursor-pointer"/></a>
<a href={links?.pinterest}><Icon name="instagram" class="text-[3rem] cursor-pointer"/></a>

</div>
