---
import "../styles/main.scss";
import "../styles/fonts.scss";

import Head from "../partials/Head.astro"
import Header from "../partials/Header.astro";
import Contacts from "../components/Contacts.astro";

const {frontmatter} = Astro.props;

---

<html lang="ru">
	<Head />
	<body>
        
		<main>
                
		</main>
	</body>
</html>
 